@page "/explorer"

@inject NavigationManager NavMan
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@using FileManager;
@using System.IO;
@using System.Diagnostics;
@using BlazorContextMenu;
@{
    //float WWidth = jsRuntime.InvokeAsync<float>("window.innerWidth").Result;
    float WWidth = 1000;


    string SidePanelSize = WWidth > 768 ? "flex-basis: 20%;" : "flex-basis: 0%;";

    string h = $"{Height}px";
    string h1 = $"{Height + (float)90.5}px";
    string h2 = $"{Height - (float)41}px";
    string h3 = $"{Height - (float)75}px";
    string h4 = $"{Height - (float)108}px";

    var TmpD = orderType == OrderType.Acending ? FB.FilesAndDirs.Dirs.OrderBy(s => s) : FB.FilesAndDirs.Dirs.OrderByDescending(s => s);
    var TmpF = orderType == OrderType.Acending ? FB.FilesAndDirs.Files.OrderBy(s => s) : FB.FilesAndDirs.Files.OrderByDescending(s => s);

    string OrderIcon = orderType == OrderType.Acending ? "e-ascending e-icon-ascending" : "e-ascending e-icon-deascending";
}
<div class="control-section">
    <div id="FileManager" class="e-control e-filemanager e-lib e-fe-cb-select e-keyboard" style="height: 100%; width: 100%; overflow-y: hidden;">
        <div class="e-spinner-pane e-spin-hide">
            <div class="e-spinner-inner">
                <svg class="e-spin-bootstrap4" id="cxzLg" viewBox="0 0 36 36" style="height: 36px; width: 36px; transform-origin: 18px 18px 18px;">
                    <path class="e-path-circle" d="M18,1.8A16.2,16.2 0 1 1 1.8,18">
                    </path>
                </svg>
            </div>
        </div>
        <div id="FileManager_toolbar" class="e-control e-toolbar e-lib e-keyboard e-toolpop" role="toolbar" aria-disabled="false" aria-haspopup="false" aria-orientation="horizontal" tabindex="0" style="height: auto; width: auto;">
            <div class="e-toolbar-items e-tbar-pos">
                <div class="e-toolbar-left">
                    <div class="e-toolbar-item" aria-disabled="false" title="New folder">
                        <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" @onclick="(()=>FB.GoBack())" type="button" tabindex="-1" aria-label="New folder" style="width: auto;">
                            <span class="e-btn-icon e-icons e-ascending e-icon-ascending"></span>
                            <span class="e-tbar-btn-text">Go Back</span>
                        </button>
                    </div>
                    <div class="e-toolbar-item" aria-disabled="false" title="Refresh" style="">
                        <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" @onclick="(()=>{ FB.Refresh(); SearchTxt = null; })" type="button" tabindex="-1" aria-label="Refresh" style="width: auto;">
                            <span class="e-btn-icon e-icons e-fe-refresh e-icon-left"></span>
                            <span class="e-tbar-btn-text">Refresh</span>
                        </button>
                    </div>
                    <div class="e-toolbar-item" aria-disabled="false" title="New folder">
                        <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" tabindex="-1" aria-label="New folder" style="width: auto;">
                            <span class="e-btn-icon e-icons e-fe-newfolder e-icon-left"></span>
                            <span class="e-tbar-btn-text">New folder</span>
                        </button>
                    </div>



                    @*<div class="e-toolbar-item" aria-disabled="false" title="Upload">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_upload" tabindex="-1" aria-label="Upload" style="width: auto;"><span class="e-btn-icon e-icons e-fe-upload e-icon-left"></span><span class="e-tbar-btn-text">Upload</span></button>
                        </div>
                        <div class="e-toolbar-item e-hidden" aria-disabled="false" title="Cut">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_cut" tabindex="-1" aria-label="Cut" style="width: auto;"><span class="e-btn-icon e-icons e-fe-cut e-icon-left"></span><span class="e-tbar-btn-text">Cut</span></button>
                        </div>
                        <div class="e-toolbar-item e-hidden" aria-disabled="false" title="Copy">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_copy" tabindex="-1" aria-label="Copy" style="width: auto;"><span class="e-btn-icon e-icons e-fe-copy e-icon-left"></span><span class="e-tbar-btn-text">Copy</span></button>
                        </div>
                        <div class="e-toolbar-item e-hidden" aria-disabled="false" title="Paste">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_paste" tabindex="-1" aria-label="Paste" style="width: auto;"><span class="e-btn-icon e-icons e-fe-paste e-icon-left"></span><span class="e-tbar-btn-text">Paste</span></button>
                        </div>
                        <div class="e-toolbar-item e-hidden" aria-disabled="false" title="Delete">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_delete" tabindex="-1" aria-label="Delete" style="width: auto;"><span class="e-btn-icon e-icons e-fe-delete e-icon-left"></span><span class="e-tbar-btn-text">Delete</span></button>
                        </div>
                        <div class="e-toolbar-item e-hidden" aria-disabled="false" title="Download">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_download" tabindex="-1" aria-label="Download" style="width: auto;"><span class="e-btn-icon e-icons e-fe-download e-icon-left"></span><span class="e-tbar-btn-text">Download</span></button>
                        </div>
                        <div class="e-toolbar-item e-hidden" aria-disabled="false" title="Rename">
                            <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_rename" tabindex="-1" aria-label="Rename" style="width: auto;"><span class="e-btn-icon e-icons e-fe-rename e-icon-left"></span><span class="e-tbar-btn-text">Rename</span></button>
                        </div>
                        <div class="e-toolbar-item e-template" aria-disabled="false" title="Sort by">
                            <button id="FileManager_tb_sortby" class="e-tbar-btn e-tbtn-txt e-control e-dropdown-btn e-lib e-btn e-fe-popup" tabindex="-1" aria-haspopup="true" aria-expanded="false" aria-owns="FileManager_tb_sortby-popup" type="button"><span class="e-btn-icon e-icons e-fe-sort e-icon-left"></span><span class="e-tbar-btn-text e-tbar-ddb-text">Sort by</span><span class="e-btn-icon e-icons e-icon-right e-caret"></span></button>
                        </div>*@
                </div>

                <div class="e-toolbar-center" style="margin-left: @h1;"></div>
                <div class="e-toolbar-right" style="">
                    <div class="e-toolbar-item e-overflow-show e-hidden" aria-disabled="false" title="Clear selection">
                        <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_selection" tabindex="-1" aria-label="Selection" style="width: auto;">
                            <span class="e-tbar-btn-text">Selection</span>
                            <span class="e-btn-icon e-icons e-fe-clear e-icon-right"></span>
                        </button>
                    </div>

                    <div class="e-toolbar-item e-template e-popup-text e-overflow-show" aria-disabled="false" title="View">
                        <ContextMenuTrigger MenuId="ViewMenu" MouseButtonTrigger="MouseButtonTrigger.Both">
                            <button id="FileManager_tb_view" class="e-tbar-btn e-tbtn-txt e-control e-dropdown-btn e-lib e-btn e-caret-hide e-fe-popup" tabindex="-1" aria-label="View" aria-haspopup="true" aria-expanded="false" aria-owns="FileManager_tb_view-popup" type="button">
                                <span class="e-btn-icon e-icons e-fe-large e-icon-left"></span>
                                <span class="e-tbar-btn-text">View</span>
                                <span class="e-btn-icon e-icons e-icon-right e-caret"></span>
                            </button>
                        </ContextMenuTrigger>
                    </div>

                    <div class="e-toolbar-item e-popup-text e-overflow-show" aria-disabled="false" title="Details">
                        <button class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" type="button" id="FileManager_tb_details" tabindex="-1" aria-label="Details" style="width: auto;">
                            <span class="e-btn-icon e-icons e-fe-details e-icon-left"></span>
                            <span class="e-tbar-btn-text">Details</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div class="e-layout e-control e-splitter e-lib e-splitter-horizontal" id="FileManager_layout" style="height: auto; width: 100%;">

            @* <div class="e-navigation e-pane e-pane-horizontal e-scrollable e-static-pane e-resizable" id="FileManager_navigation" style="@SidePanelSize order: 0;">
                    <div id="FileManager_tree" class="e-control e-treeview e-lib e-fullrow-wrap e-touch e-keyboard" role="tree" tabindex="0" aria-activedescendant="FileManager_tree_active">
                        <ul class="e-list-parent e-ul " role="tree">
                            <li class="e-list-item e-level-1" role="treeitem" data-uid="fe_tree" aria-level="1" title="Files" aria-expanded="true">
                                <ul class="e-list-parent e-ul " role="group">
                                    @foreach (var s in TmpD)
                                    {
                                        <li class="e-list-item e-level-2" role="treeitem" data-uid="fe_tree_0" aria-level="2" title="@s" @ondblclick="(() => FB.NavigateTo(s))">
                                            <div class="e-fullrow"></div>
                                            <div class="e-text-content">
                                                <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">@s</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div> *@





            <div class="e-layout-content e-pane e-pane-horizontal e-scrollable e-resizable" id="FileManager_content" style="order: 2;">


                <div class="e-address e-lib e-keyboard" id="FileManager_breadcrumbbar" width="50%">
                    <div class="e-addressbar-ul" aria-disabled="false" title="URLBar" width="100%">
                        <input name="URLBar" type="text" @bind=FB.TxtPath width="100%" />
                    </div>

                    <div class="e-search-wrap">
                        <span class="e-icons e-fe-search"></span><span class="e-input-group e-control-wrapper">
                            <input id="FileManager_search" autocomplete="off" @bind="SearchTxt" @onkeydown="(() => OnSearchTxtChange())" aria-label="Search" class="e-control e-textbox e-lib e-input" type="text" role="textbox" name="FileManager_search" placeholder="Search" aria-placeholder="Search">
                            <span class="e-clear-icon e-clear-icon-hide" aria-label="close" role="button"></span>
                        </span>
                    </div>
                </div>


                @if (UiType == UIType.Icons)
                {



                    <div class="e-large-icons e-lib e-touch e-keyboard" id="FileManager_largeicons" role="group" style="height:@h3; max-height: 100%;" tabindex="0">
                        <ContextMenuTrigger MenuId="CommMenu" MouseButtonTrigger="MouseButtonTrigger.Right">
                            <ul class="e-list-parent e-ul " role="listbox">
                                @foreach (var s in TmpD)
                                {
                                    <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="b813" title="@s" @ondblclick="(() => FB.NavigateTo(s))">
                                        <div class="e-text-content">
                                            <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                            <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">@s</span>
                                        </div>
                                    </li>
                                }
                                @foreach (var s in TmpF)
                                {
                                    <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="b813" title="@s" @ondblclick="(() => FB.NavigateTo(s))">
                                        <div class="e-text-content">
                                            <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                            <div class="e-list-icon e-fe-@SetIcon(s)"></div><span class="e-list-text">@s</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </ContextMenuTrigger>
                    </div><span class="e-fe-overlay"></span>

                }
                else if (UiType == UIType.Details)
                {


                    <div id="FileManager_grid" class="e-control e-grid e-lib e-gridhover e-responsive e-default e-resize-lines e-tooltip e-keyboard" role="grid" tabindex="0" style="width: 100%;">

                        <div class="e-gridcontent e-lib e-droppable e-touch">
                            <div class="e-content e-scrollShow" aria-busy="false" style="height: @h4;">
                                <table class="e-table" cellspacing="0.25px" role="grid" id="FileManager_grid_content_table" aria-multiselectable="true" aria-colcount="5">
                                    <colgroup id="content-FileManager_gridcolGroup">
                                        <col style="width: 26px;">
                                        <col style="width: 46px;">
                                        <col style="width: auto">
                                        <col style="width: 190px;">
                                        <col style="width: 110px;">
                                    </colgroup>
                                    <ContextMenuTrigger MenuId="CommMenu" MouseButtonTrigger="MouseButtonTrigger.Right">
                                        <tbody>
                                            @foreach (var s in TmpD)
                                            {
                                                @*string Mid = "MenuD" + s;
                                                    <ContextMenu Id="Mid" CssClass="z-10">
                                                        <Item OnClick="@(() => FB.NavigateTo(s))">Open</Item>
                                                        <Item OnClick="@(() => FB.NavigateTo(s))">Open In New Tab</Item>
                                                        <Seperator />
                                                        <Item OnClick="@(() => FB.Refresh())">Refresh</Item>
                                                        <Seperator />
                                                        <Item Enabled="false">Paste</Item>
                                                        <Item Enabled="false">Cut</Item>
                                                        <Item Enabled="false">Copy</Item>
                                                        <Item Enabled="false">Delete</Item>
                                                        <Seperator />
                                                        <Item>
                                                            New
                                                            <SubMenu>
                                                                <Item Enabled="false">Folder</Item>
                                                                <Item Enabled="false">File</Item>
                                                            </SubMenu>
                                                        </Item>
                                                    </ContextMenu>*@

                                                <tr role="row" class="e-row" aria-rowindex="0" data-uid="grid-row10" @ondblclick="(() => FB.NavigateTo(s))">
                                                    @*<ContextMenuTrigger MenuId="Mid" MouseButtonTrigger="MouseButtonTrigger.Right">*@
                                                    <td class="e-rowcell e-gridchkbox e-fe-checkbox" role="gridcell" tabindex="-1" aria-label="checkbox" aria-colindex="0" index="0">

                                                        <input class="" type="checkbox" />

                                                    </td>
                                                    <td class="e-rowcell e-templatecell e-fe-grid-icon" role="gridcell" tabindex="-1" aria-label=" is template cell column header type" aria-colindex="1" index="0"><span class="e-fe-icon e-fe-folder"></span></td>
                                                    <td class="e-rowcell e-templatecell e-fe-grid-name" role="gridcell" tabindex="-1" aria-label="Documents is template cell column header Name" aria-colindex="2" index="0" title="@s"><span class="e-fe-text">@s</span></td>
                                                    <td class="e-rowcell" role="gridcell" tabindex="-1" aria-label="column header Modified" aria-colindex="3" index="0"></td>
                                                    <td class="e-rowcell e-templatecell" role="gridcell" tabindex="-1" aria-label="0 is template cell column header Size" aria-colindex="4" index="0"><span class="e-fe-size"></span></td>
                                                    @*</ContextMenuTrigger>*@
                                                </tr>


                                            }
                                            @foreach (var s in TmpF)
                                            {

                                                <tr role="row" class="e-row" aria-rowindex="0" data-uid="grid-row10"
                                                    @ondblclick="(() => FB.NavigateTo(s))" @onclick="(() => FileSelected(s))">
                                                    @*<ContextMenuTrigger MenuId="triggerMenu" MouseButtonTrigger="MouseButtonTrigger.Right">*@
                                                    <td class="e-rowcell e-gridchkbox e-fe-checkbox" role="gridcell" tabindex="-1" aria-label="checkbox" aria-colindex="0" index="0">
                                                        <div class="e-checkbox-wrapper e-css e-small">
                                                            <input class="" type="checkbox" />
                                                        </div>
                                                    </td>
                                                    <td class="e-rowcell e-templatecell e-fe-grid-icon" role="gridcell" tabindex="-1" aria-colindex="1" index="0"><span class="e-fe-icon e-fe-@SetIcon(s)"></span></td>
                                                    <td class="e-rowcell e-templatecell e-fe-grid-name" role="gridcell" tabindex="-1" aria-colindex="2" index="0" title="@s"><span class="e-fe-text">@s</span></td>
                                                    <td class="e-rowcell" role="gridcell" tabindex="-1" aria-label="column header Modified" aria-colindex="3" index="0">
                                                        <span class="e-btn-icon e-icons e-fe-download e-icon-left" @onclick="(() => FB_DownloadFile(s))"></span>
                                                    </td>

                                                    @*</ContextMenuTrigger>*@
                                                </tr>

                                            }
                                        </tbody>
                                    </ContextMenuTrigger>
                                </table>
                            </div>
                        </div>
                        <div class="e-gridpopup" style="display:none;">
                            <div class="e-uptail e-tail"></div>
                            <div class="e-content" tabindex="-1"><span></span></div>
                            <div class="e-downtail e-tail"></div>
                        </div>
                        <textarea class="e-clipboard" style="opacity: 0" tabindex="-1" aria-label="clipboard"></textarea>
                    </div>
                    <div class="e-large-icons e-lib e-touch e-keyboard e-display-none" id="FileManager_largeicons" role="group" style="height: @h3; max-height: 100%;" tabindex="-1">
                        <ul class="e-list-parent e-ul " role="listbox">
                            <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="c447" title="Documents">
                                <div class="e-text-content">
                                    <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                    <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">Documents</span>
                                </div>
                            </li>
                            <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="558d" title="Downloads">
                                <div class="e-text-content">
                                    <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                    <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">Downloads</span>
                                </div>
                            </li>
                            <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="0ade" title="Music">
                                <div class="e-text-content">
                                    <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                    <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">Music</span>
                                </div>
                            </li>
                            <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="79d8" title="Pictures">
                                <div class="e-text-content">
                                    <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                    <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">Pictures</span>
                                </div>
                            </li>
                            <li class="e-list-item e-level-1 e-large-icon" role="option" data-uid="99bb" title="Videos">
                                <div class="e-text-content">
                                    <div class="e-checkbox-wrapper e-css e-small" role="checkbox" aria-checked="false"><span class="e-frame e-icons"></span></div>
                                    <div class="e-list-icon e-fe-folder"></div><span class="e-list-text">Videos</span>
                                </div>
                            </li>
                        </ul>
                    </div><span class="e-fe-overlay"></span>


                }

            </div>
            <div class="e-split-bar e-split-bar-horizontal e-resizable-split-bar e-last-bar" tabindex="0" role="separator" aria-orientation="horizontal" style="width: 1px; order: 1;">
                <button tabindex="-1" aria-label="Toggle navigation" type="button" class="e-navigate-arrow e-arrow-left e-icon-hidden"></button>
                <div class="e-resize-handler e-icons" style="width: 1px;"></div>
                <button tabindex="-1" aria-label="Toggle navigation" type="button" class="e-navigate-arrow e-arrow-right e-icon-hidden"></button>
            </div>
        </div>


        @if (ShowDetails)
        {
            <div id="FileManager_toolbar" class="e-control e-toolbar e-lib e-keyboard e-toolpop" role="toolbar" aria-disabled="false" aria-haspopup="false" aria-orientation="horizontal" tabindex="0" style="height: auto; width: auto;"
                 @onclick="(() => {ShowDetails = false;})">
                <div class="e-toolbar-items e-tbar-pos">
                    <div class="e-toolbar-right" style="">
                        <div class="e-toolbar-item">
                            <span class="e-tbar-btn-text">@TxtDetails</span>
                        </div>
                    </div>
                </div>
            </div>
        }



        <ContextMenu Id="ViewMenu" CssClass="z-10">
            <Item OnClick="@(()=>SetUiType(UIType.Details))">Details</Item>
            <Item OnClick="@(()=>SetUiType(UIType.Icons))">Large Icons</Item>
        </ContextMenu>
        <ContextMenu Id="CommMenu" CssClass="z-10">
            <Item OnClick="@(() => FB.Refresh())">Refresh</Item>
            <Seperator />
            <Item Enabled="!ReadOnly">Paste</Item>
            <Item Enabled="!ReadOnly">Cut</Item>
            <Item Enabled="!ReadOnly">Copy</Item>
            <Item Enabled="!ReadOnly">Delete</Item>
            <Seperator />
            <Item>
                New
                <SubMenu>
                    <Item Enabled="!ReadOnly">Folder</Item>
                    <Item Enabled="!ReadOnly">File</Item>
                </SubMenu>
            </Item>
        </ContextMenu>
    </div>
</div>


@code{

    [Parameter] public string PathDir { get; set; }
    [Parameter] public UIType UiType { get; set; } = UIType.Details;
    [Parameter] public OrderType orderType { get; set; } = OrderType.Acending;
    [Parameter] public float Height { get; set; } = 800;
    [Parameter] public bool OpenFilesInNewTab { get; set; } = false;
    [Parameter] public bool ReadOnly { get; set; } = true;

    FileBrowser FB = new FileBrowser();

    public string SearchTxt { get; set; }

    public bool ShowDetails { get; set; }
    public string TxtDetails { get; set; }
    public string SelectedPath { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        FB.FileOnClick += Fb_FileOnClick;
        FB.OnDirChanged += Fb_OnDirChanged;
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            string crd = await ProtectedSessionStore.GetAsync<string>("Dir");
            if (crd != null)
            {
                FB.NavigateTo(crd);
            }
        }
        base.OnAfterRender(firstRender);
    }

    private void Fb_OnDirChanged(string Path)
    {
        ProtectedSessionStore.SetAsync("Dir", Path);
        StateHasChanged();
    }

    private void Fb_FileOnClick(string FilePath)
    {

        string t = SetIcon(FilePath);
        string fileName = System.IO.Path.GetFileName(FilePath);

        switch (t)
        {
            case "video":
                OpenInNewTab($"playvideo/{fileName}?\"{FilePath}\"");
                break;
            case "audio":
                NavMan.NavigateTo($"playaudio/{fileName}?\"{FilePath}\"", true);
                break;
            default:
                OpenInNewTab($"OpenStream/{fileName}?\"{FilePath}\"");
                break;
        }
    }
    private void FB_DownloadFile(string FileName)
    {
        if (FB == null) return;
        string FilePath = FB.FullPath(FileName);
        // NavMan.NavigateTo($"OpenFile/{FileName}?\"{FilePath}\"", false);
        OpenInNewTab($"OpenFile/{FileName}?\"{FilePath}\"");

    }

    public async void OpenInNewTab(string Path)
    {
        await JSRuntime.InvokeVoidAsync("OpenNew", Path);
    }

    public void FileSelected(string FileName)
    {
        SelectedPath = FB.FullPath(FileName);
        TxtDetails = FB.GetFileDetails(SelectedPath);
        ShowDetails = true;
    }


    void SetUiType(UIType type)
    {
        if (UiType != type)
        {
            UiType = type;
            StateHasChanged();
        }
    }

    void Sort()
    {
        if (orderType == OrderType.Acending) orderType = OrderType.Deacending;
        else if (orderType == OrderType.Deacending) orderType = OrderType.Acending;
        StateHasChanged();
    }

    public void OnSearchTxtChange()
    {
        FB.Search(SearchTxt);
    }

    public string SetIcon(string name)
    {
        if (FileBrowser.IsDir(name)) return "folder";
        string ext = Path.GetExtension(name);
        if (ext.Contains(".mp4", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".m4p", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".webm", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".ogg", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MPG", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MP2", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MPEG", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MPE", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MPV", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MKV", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".M4V", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".AVI", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".WMV", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".MOV", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".FLV", StringComparison.CurrentCultureIgnoreCase)
            ) return "video";
        if (ext.Contains(".WAV", StringComparison.CurrentCultureIgnoreCase)
            || ext.Contains(".mp3", StringComparison.CurrentCultureIgnoreCase)
            ) return "audio";
        if (ext.Contains(".JPG", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".PNG", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".GIF", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".WEBP", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".TIFF", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".PSD", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".RAW", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".BMP", StringComparison.CurrentCultureIgnoreCase)
    || ext.Contains(".SVG", StringComparison.CurrentCultureIgnoreCase)
    ) return "image";

        return "txt";
    }

    public enum OrderType : int
    {
        Acending = 0,
        Deacending
    }
    public enum UIType : int
    {
        Icons = 0,
        Details
    }
}
